*{margin:0;
padding:0;}

body{
    font-family: Arial, sans-serif;
    
    
}

h1{
    margin-top: 10px;
    
}

.contenedor{
    width: 900px;
    height: 1420px;
    margin: 0 auto;
}

.top{
    width: 900px;
    height:67px;
    background-color: limegreen;

}

.top img {
    margin: 10px;
}

.imagen{
    width: 900px;
    height: 500px;
}

p.pieimagen{
    margin-top: 10px;
    font-size: 12px;
    color: darkgrey;
}

p.subtitulo{
    margin-top: 20px;
    color: darkgreen;
    font-size: 16px;
}

p.editor{
    margin-top: 10px;
    font-size: 12px;
       
}

hr{
    margin-top: 10px;
    
}

p{
    font-size: 18px;
    text-align: justify;
    margin-top: 10px;
    margin-bottom: 10px;
    color: dimgray;
}

.pie{ width: 900px;
            
}

.pie{
    background-color: dimgrey;
    width: 900px;
    height: 70px;    
}

.pie p{
    margin: 25px;
    float: left;
    font-size: 14px;
    color: black
}




